.bg-color {
  background-color: #ddd;
}
.divide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-size {
  height: 16rem;
}
@media (max-width: 767px) {
  .divide{
    flex-direction: column;
  }
}
